salesforce/projects/tmp_proj/force-app/main/default/flows/TEST_NEW_LEAD_CHANGE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignDefault</name>
        <label>assignDefault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>leadStatusField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DEFAULT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTriggeredLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNotConverted</name>
        <label>assignNotConverted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>leadStatusField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>statusFieldNotConverted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTriggeredLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOpen</name>
        <label>assignOpen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>leadStatusField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>statusFieldOpen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTriggeredLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignWorking</name>
        <label>assignWorking</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>leadStatusField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>statusFieldWorking</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTriggeredLead</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>statusFieldNotConverted</name>
        <dataType>String</dataType>
        <value>
            <stringValue>LEAD STATUS: NOT CONVERTED</stringValue>
        </value>
    </constants>
    <constants>
        <name>statusFieldOpen</name>
        <dataType>String</dataType>
        <value>
            <stringValue>LEAD STATUS: OPEN</stringValue>
        </value>
    </constants>
    <constants>
        <name>statusFieldWorking</name>
        <dataType>String</dataType>
        <value>
            <stringValue>LEAD STATUS: WORKING</stringValue>
        </value>
    </constants>
    <customErrors>
        <name>StatusDefault</name>
        <label>StatusDefault</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assignDefault</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>DEFAULT</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>StatusNotConverted</name>
        <label>StatusNotConverted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assignNotConverted</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>NOT CONVERTED</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>StatusOpen</name>
        <label>StatusOpen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assignOpen</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>OPEN</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>StatusWorking</name>
        <label>StatusWorking</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assignWorking</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>WORKING</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Lead_Status</name>
        <label>Lead Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>StatusDefault</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open - Not Contacted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StatusOpen</targetReference>
            </connector>
            <label>Open</label>
        </rules>
        <rules>
            <name>Working</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working - Contacted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StatusWorking</targetReference>
            </connector>
            <label>Working</label>
        </rules>
        <rules>
            <name>No_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Not Converted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StatusNotConverted</targetReference>
            </connector>
            <label>No Converted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>TEST_NEW_LEAD_CHANGE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEST_NEW_LEAD_CHANGE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateTriggeredLead</name>
        <label>UpdateTriggeredLead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>leadStatusField</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lead_Status</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed - Not Converted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working - Contacted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open - Not Contacted</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>leadStatusField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
